{#
  NateMan – Nachschreibtermin-Manager
  templates/index/index.html.j2
  Copyright © 2020  Niklas Elsbrock

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-#}

{% extends 'base.html.j2' %}

{% block title %}Startseite{% endblock %}
{% block header %}Startseite{% endblock %}

{% block content %}
<p>
  Sie befinden sich auf der Startseite des Nachschreibtermin-Managers.<br>
  Von hier aus können Sie die Klausurpläne für die Stufen
  {% for stufe in Stufe.query.all() -%}
    {%- if not loop.first -%}{%- if loop.last %} und {% else -%}, {% endif -%}{%- endif -%}
    <a href="{{ url_for('klausuren.stufe', stufe_name=stufe.name) }}">{{ stufe.name }}</a>
  {%- endfor %}
  einsehen
  {%- if g.lehrer is none %}
    oder sich als Lehrer <a href="{{ url_for('auth.login') }}">anmelden</a>
  {%- endif -%}.
</p>

<hr>

<h3>Klausurpläne für Schüler und Schülerinnen</h3>
<form action="{{ url_for('klausuren.schueler') }}" method="get">
  <div class="table-aligned">
    <div>
      <div><label for="id-input">Schüler-ID:</label></div>
      <div><input type="number" name="id" id="id-input" required autofocus></div>
    </div>
    <div>
      <div><label for="nachname-input">Nachname:</label></div>
      <div><input type="text" name="nachname" id="nachname-input" autocomplete="family-name" required></div>
    </div>
  </div>
  <p>
    <input type="submit" value="Klausurplan ansehen">
  </p>
</form>
{% endblock %}
