{% extends 'base.html.j2' %}

{#
  NateMan – Nachschreibtermin-Manager
  templates/info/licenses.html.j2
  Copyright © 2020  Niklas Elsbrock

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% block title %}Lizenzen{% endblock %}
{% block header %}Lizenzen{% endblock %}

{% block content %}
<h3><a href="https://github.com/nelsbrock/NateMan">NateMan</a></h3>
<p>
  &copy; 2020&ndash;2021 Niklas Elsbrock<br>
  Excel-Exporter und Koop-Schüler-Importer: &copy; 2020 Johannes Bingel<br>
  Lizensiert unter
  <a href="https://github.com/nelsbrock/NateMan/blob/main/LICENSE">GNU General Public License, Version 3</a>.
</p>

<h3>Schriftart: Lato</h3>
<p>
  Copyright (c) 2010-2015, Łukasz Dziedzic (dziedzic@typoland.com), with Reserved Font Name Lato.<br>
  Licensed under the <a href="https://scripts.sil.org/OFL">SIL Open Font License, Version 1.1</a>.
</p>

<h3>Symbole (Icons): Font Awesome Free</h3>
<p>
  Font Awesome Free 5.13.1 by @fontawesome - <a href="https://fontawesome.com">https://fontawesome.com</a><br>
  License - <a href="https://fontawesome.com/license/free">https://fontawesome.com/license/free</a>
  (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
</p>
{% endblock %}
