{#
  NateMan – Nachschreibtermin-Manager
  templates/auth/password-reset-do.html.j2
  Copyright © 2020  Niklas Elsbrock

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-#}

{% extends 'base.html.j2' %}

{% block title %}Passwort zurücksetzen{% endblock %}
{% block header %}Passwort zurücksetzen{% endblock %}

{% block content %}
<form method="post">
  <div class="table-aligned">
    <div>
      <div><label for="new-password-input">Neues Passwort:</label></div>
      <div>
        <input type="password" name="new-password" id="new-password-input" autocomplete="new-password" minlength="6"
               required autofocus>
      </div>
    </div>
    <div>
      <div><label for="new-password-confirm-input">&#x21B3; wiederholen:</label></div>
      <div>
        <input type="password" name="new-password-confirm" id="new-password-confirm-input" autocomplete="new-password"
               required>
      </div>
    </div>
  </div>

  <p><input type="submit" value="Passwort setzen"></p>
</form>
{% endblock %}
