{#
  NateMan – Nachschreibtermin-Manager
  templates/auth/password-reset-send.html.j2
  Copyright © 2020  Niklas Elsbrock

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-#}

{% extends 'base.html.j2' %}

{% block title %}Passwort zurücksetzen{% endblock %}
{% block header %}Passwort zurücksetzen{% endblock %}

{% block content %}
<form method="post">

  <div class="table-aligned">
    <div>
      <div><label for="lehrer-kuerzel-input">Lehrerkürzel:</label></div>
      <div>
        <input type="text" name="lehrer-kuerzel" id="lehrer-kuerzel-input" autocomplete="username" required autofocus>
      </div>
    </div>
    <div>
      <div><label for="email-address-input">E-Mail-Adresse:</label></div>
      <div><input type="email" name="email-address" id="email-address-input" required></div>
    </div>
  </div>

  <p><input type="submit" value="Absenden"></p>
</form>
{% endblock %}
